@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #064e3b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.card.selected {
  transform: translateY(-20px);
  transition: transform 0.3s ease-out;
  filter: drop-shadow(0px 10px 20px rgba(250, 204, 21, 0.5));
}

.card {
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
}
