.discard-pile-container {
  margin-top: 1vh;
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.discard-pile-container h3 {
  margin-top: 0;
  margin-bottom: 1vh;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
}

.discard-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* A 6-column grid for discards */
  gap: 0.5vw;
  min-height: 10vh;
}
